.fight-style {
    scale: 0.8 0.8;
}

.fight-box {
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

#TeamOne #PetImage {
    scale: -1 1;
}

#TeamOne #PetImage > GroupBox {
    scale: -1 1;
}
